.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Extra styles for the cancel button */


/* Center the image and position the close button */
.imgcontainerlogin {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.containerlogin {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modallogin {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modallogin-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/*Test end*/



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}


td {
  text-align: left;
  padding: 8px;
	font-size: 12px;
    border: 0.5px solid black;
}
th{
	 text-align: center;
	font-size: 14px;
    border: 0.5px solid black;
	background-color: darkgray;
	
}

tr:nth-child(even){background-color: #f2f2f2}


.btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
}
.btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #f4511e;
      color: #fff;
      font-weight: bold;
}  

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: blue;
  }




  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .para1 {
      font-size: 14px;
      color: #303030;
	  margin-left: 10%;
  } 


  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: black;
  }
  .carousel-indicators li {
      border-color: black;
      background-color: blue
  }
  .carousel-indicators li.active {
      background-color: black;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #f4511e !important;
      color: #fff;
  }
  .panel-heading {
      color: #blue !important;
      background-color: #f6f6f6 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #black;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }


  .navbar li a, .navbar .navbar-brand {
      color: black !important;
  }
  .navbar-nav li a:hover{
      color: white !important;
      background-color: #f4511e!important;
  }
.navbar-nav li.active a {
      color: white !important;
      background-color: black!important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}


  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 150s;
      -webkit-animation-duration: 10s;
      visibility: visible;
      animation-iteration-count: infinite;
  }
  @keyframes slide {
      
      opacity: 1;
      /*transform: translateY(0%);*/
    }

    
  .slidewrench {
      animation-name: slidewrench;
      -webkit-animation-name: slidewrench;
      animation-duration: 150s;
      -webkit-animation-duration: 10s;
      visibility: visible;
      animation-iteration-count: infinite;
      transition: linear;
  }
  @keyframes slidewrench {
      0% {transform: translateY(0%);} 
      50%{transform: translateX(100%);}
      100%{transform: translateX(0%);}
      opacity: 1;
      /*transform: translateY(0%);*/
    }
@-webkit-keyframes slidewrench {
  0% {transform: translateY(0%);} 
      50%{transform: translateX(100%);}
      100%{transform: translateX(0%);}
  }
  

 .slidelock {
      animation-name: slidelock;
      -webkit-animation-name: slidelock;
      animation-duration: 150s;
      -webkit-animation-duration: 10s;
      visibility: visible;
      animation-iteration-count: infinite;
      transition: linear;
  }
  @keyframes slidelock {
        0%{transform: translateX(50%);} 
      50%{transform: translateX(-50%);}
      100%{transform: translateX(50%);}
      opacity: 1;
      /*transform: translateY(0%);*/
    }
@-webkit-keyframes slidelock {
  0% {transform: translateY(50%);} 
      50%{transform: translateX(-50%);}
      100%{transform: translateX(50%);}
  }

  
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }




  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
      
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

@media (min-width: 768px) {
  .modal-dialog {
    width: 1500px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}



